.home__container {
    padding: 10px;
    background-color: white;
    max-height: 80%;
    width: 90%;
    margin: 5% auto;
    border-radius: 20px;
    overflow: hidden;
}

.home__grid {
    max-height: 750px;
    padding: 20px 40px;
    display: grid;
    gap: 30px;
    grid-template-columns:  repeat(auto-fill, minmax(450px, 1fr));
    overflow-y: scroll;
}

